* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark: rgba(0, 0, 0, 0.9);
  --bkg: #fbfbfb;
  --yellow: #c7d219;
  --black: #000000;
  --gray: #f4f0f0;
  --sm: 8px;
  --md: 14px;
  --lg: 18px;
  --bg: 30px;
}
body {
  font-family: "Montserrat", sans-ser;
}
header {
  display: flex;
  background: var(--dark);
  width: 100%;
  height: 80px;
  justify-content: center;
}
.wrapper-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 90px;
  height: 40px;
}

.menu {
  display: none;
}

.icon-hamburger {
  width: 40px;
  height: 40px;
}

.inactive {
  display: none;
}
.menu-hamburger {
  position: absolute;
  right: 30px;
  width: auto;
  margin-top: 80px;
  z-index: 1;
  color: var(--dark);
}

.listMobileMenu {
  display: flex;
  flex-direction: column;
}
.menu-hamburger a {
  text-decoration: none;
  color: var(--bkg);
  list-style-type: none;
  font-weight: 500;
}

.menu-hamburger a:hover {
  color: var(--yellow);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url(../img/bannerMobile.png);
  background-size: cover;
  background-position: center;
}
.banner img {
  max-width: 70%;
}

.container-title {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100px;
}
.information {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.wrapper-information {
  margin: 20px 0;
}

.news {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 90%;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
  border-radius: 20px;
  padding: 12px;
  margin: 20px 0;
}

.icon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44px;
  padding: 5px 5px;
}

.icons-information {
  width: fit-content;
  height: 40px;
  padding: 5px 0;
}
.news h1 {
  font-family: var(--sm);
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  width: 100%;
}

.container-text h4 {
  font-size: 12px;
}

.container-text ul {
  list-style-type: none;
  margin-bottom: var(--sm);
}
.container-text li {
  text-align: center;
  font-size: 10px;
}
.news p {
  width: 100%;
  font-size: medium;
}
.news h3 {
  display: flex;
  text-align: center;
}
.list-awards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 100%;
  padding: 10px 0;
}

.figure-dev {
  max-height: 100%;
  width: fit-content;
  height: fit-content;
}
.wrapper-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.container-form {
  width: 80%;
  max-width: 1040px;
}

.title-form h2 {
  font-size: var(--bg);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
  border-radius: 20px;
  padding: 40px;
}

.input-field {
  border: solid 1px rgba(0, 0, 0, 25%);
  margin: 15px 0;
  display: flex;
  align-items: center;
  transition: max-height 0.5s;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}
.input-field input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
}

.btn {
  width: 150px;
  height: 40px;
  background: var(--yellow);
  border-radius: 10px;
  border: none;
  color: var(--dark);
  font-weight: bold;
  font-size: medium;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: auto;
  background-color: var(--dark);
  margin-top: 20px;
}
.wrapper-footer {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* justify-items: center; */
  width: 90%;
  height: 100%;
  padding: 10px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.contact-info img {
  width: 100px;
}
.icons-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  width: 40%;
}

.icons-social a {
  width: 20px;
  height: 20px;
}

.icons-social img {
  width: 100%;
  height: 100%;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.servicios h4 {
  margin-top: 10px;
  color: var(--bkg);
}
.servicios a {
  margin-top: 10px;
  color: var(--bkg);
}
.conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.conocenos h4 {
  margin-top: 10px;
  color: var(--bkg);
}

.conocenos a {
  margin-top: 10px;
  color: var(--bkg);
}

hr {
  margin-top: 10px;
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--yellow);
}

.sponsors {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 40px 0;
  height: auto;
}

.wrapper-sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.container-sponsors {
  padding: 5px 10px;
  width: 150px;
}
.container-sponsors img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .banner {
    height: 300px;
  }
  .wrapper-header {
    display: flex;
    justify-content: space-between;
  }
  .wrapper-iconHamburger {
    display: none;
  }
  .menu {
    display: flex;
    padding: 0 50px;
  }
  .menu a {
    padding: 0 5px;
    text-decoration: none;
    color: var(--bkg);
    list-style-type: none;
    font-weight: 500;
  }
  .menu a:hover {
    color: var(--yellow);
  }
  .menu-hamburger {
    display: none;
  }
  .banner {
    width: auto;
  }
  .banner img {
    max-width: 50%;
  }
  .banner-devs {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 200px;
  }
  .banner-devs img {
    width: 70%;
  }
  .news {
    width: 100%;
  }
  .container-news {
    align-items: center;
    max-width: 900px;
  }

  .icons img {
    width: 40px;
    height: 40px;
  }

  .wrapper-information {
    display: flex;
  }
  .container-figure {
    height: 16rem;
  }
  .container-img {
    width: 24rem;
  }

  hr {
    display: none;
    transform: rotate(90deg);
  }

  .contact-info {
    grid-area: contact-info;
    border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
  }
  .servicios {
    grid-area: servicios;
  }

  .conocenos {
    grid-area: conocenos;
  }

  .wrapper-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "servicios  contact-info conocenos";
    grid-gap: 10px;
    padding: 25px 0;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 400px;
  }
  .banner img {
    max-width: 50%;
  }
  .container-text {
    width: 90%;
  }
  .container-img {
    width: 26rem;
  }
}
