* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark: rgba(0, 0, 0, 0.9);
  --bkg: #fbfbfb;
  --yellow: #c7d219;
  --black: #000000;
  --gray: #f4f0f0;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --bg: 25px;
}
body {
  font-family: "Montserrat", sans-ser;
}
header {
  display: flex;
  background: var(--dark);
  width: 100%;
  height: 80px;
  justify-content: center;
}
.wrapper-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 80px;
  height: 40px;
}

.menu {
  display: none;
}

.icon-hamburger {
  width: 40px;
  height: 40px;
}

.inactive {
  display: none;
}
.menu-hamburger {
  position: absolute;
  right: 20px;
  width: auto;
  margin-top: 80px;
  z-index: 1;
  color: var(--dark);
}

.listMobileMenu {
  display: flex;
  flex-direction: column;
}
.menu-hamburger a {
  text-decoration: none;
  color: var(--dark);
  list-style-type: none;
  font-weight: 500;
}

.menu-hamburger a:hover {
  color: var(--yellow);
}

@media (min-width: 768px) {
  .menu-hamburger {
    display: none;
  }
}
